
  body {
    background-color:#adddb5;
    overflow: hidden;
    text-align:center;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  svg{
   
    width:100%;
    height:100%;
    visibility:hidden;
   -webkit-tap-highlight-color:transparent;
  }
  
  .hit{
  
   cursor:pointer; 
   -webkit-tap-highlight-color:transparent;
  }
  
  
  .shadow{
   mix-blend-mode:multiply;
  }
  


.container{
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 250px;
  
  
}
.board{
  width: 300px;
  height: 200px;
  border: 20px;
  background-color: #AF8B50;
  position: absolute;
  text-align: center;
  border-radius: 7px;
  box-shadow: 10px 8px 0 #B7B3A1;
  margin-top: 30px;
  z-index: 0;
}

.maki{
  top: 15px;  
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  
  div {
  margin: 50px 10px;
  width: 30px;
  height: 30px;
  background: #F2F0E6;
  border-radius: 100%;
  border: 3px solid #2D2D2D;
  background-image: radial-gradient(#E58B5B 0, #E58B5B 40%, #FFF 45%, #FFF 80%);
  z-index: 10;
  box-shadow: 4px 4px 0 #2D2D2D;
 
    }
}

.nigiriOne, .nigiriTwo{
  top: 0;
  left: 25px;
  position: relative;
  width: 25px;
  height: 50px;
  background: white;
  border-radius: 6px;
  z-index: 30;
  box-shadow: 1px 1px  0 white;
    &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    top: -5px;
    left: 2px;
    width: 20px;
    height: 60px;
    background: #F5F5F5;
    border-radius: 6px;
    background-image: linear-gradient(rgba(white, 0.3) 10%, #E58B5B 10%);
    background-size: 10px 10px;
    box-shadow: 2px 2px 0 #E58B5B; 
  } 
}

.nigiriTwo{
  left: 80px;
  top: -50px;
}

.soja{
  width: 40px;
  height: 30px;
  background: red;
  position: relative;
  top: -100px;
  left: 130px;
  z-index: 30;
  background: #846267;
  border: 6px solid white;
  border-radius: 6px;
  box-shadow: 3px 3px 0 rgba(#000, 0.2);
  
  &:before, &:after{
    content: '';
    position: absolute;
    background: #F5F5F5;
    border-radius: 100px;
    opacity: 0.4;
    
  }
  
  &:before{
    width: 3px;
    height: 13px;
    top: 3px;
    left: 32px;
  }
  
  &:after{
    width: 3px;
    height: 3px;
    top: 19px;
    left: 32px;
  }
}

.matcha{
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-radius: 50px;
  background: #9DC49F;
  position: relative;
  top: -235px;
  left: 240px;
  box-shadow: 6px 6px 0 rgba(#000, 0.2);
  background: radial-gradient(#8FB391 20%, #9DC49F 46%, #9DC49F 50%);
}

.chopsticksup{
  position: relative;
  top: -220px;
  left: 220px;
  
  .first, .second{
    width: 3px;
    border-bottom: 110px solid #FDD692;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 3px 2px 0 rgba(#000, 0.2);
    background: #F1B682;
  }
  
  .second{
    position: relative;
    left: 15px;
    top: -110px;
    
  }
  
  
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Hesster Mofet_clean";
	src: url("https://www.sicontis.com/codepen/cpc-food-truck/fonts/hesstermofetclean-webfont.woff")
		format("woff");
}

@font-face {
	font-family: "Hesster Mofet_dirty";
	src: url("https://www.sicontis.com/codepen/cpc-food-truck/fonts/hesstermofetdirty-webfont.woff")
		format("woff");
}

@font-face {
	font-family: "KG Tangled";
	src: url("https://www.sicontis.com/codepen/cpc-food-truck/fonts/kgtangledupinyou-webfont.woff")
		format("woff");
}

@font-face {
	font-family: "KG Tangled 2";
	src: url("https://www.sicontis.com/codepen/cpc-food-truck/fonts/kgtangledupinyou2-webfont.woff")
		format("woff");
}

/* body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: "KG Tangled", sans-serif;

	#f000a0: #f000a0;
	#31bdf5: #31bdf5;
	#f0f0f0: #f0f0f0;

	background-color: var(#f0f0f0);
	background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
} */

.menu-board {
    
	font-family: "KG Tangled", sans-serif;
    
	--white: #f0f0f0;
	width: 800px;
	padding: 3em 1em;
	color: var(--white);
	background-color: #1f1f1f;
	background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
	display: grid;
	place-items: center;
	margin-top: 2%;
    margin-left: 24%;
	border: 20px solid rgb(150, 92, 5);
	box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.logo {
	position: relative;
	margin-bottom: 2em;
}
.logo svg {
	width: 253px;
	height: 136px;
	fill: var(#f0f0f0);
}
.logo h1 {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%) rotateZ(-20deg) skew(-20deg);
	font-family: "Hesster Mofet_dirty", sans-serif;
	color: var(#f000a0);
}
.logo h3 {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "KG Tangled 2", sans-serif;
	font-size: 3em;
}
.logo h2 {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "KG Tangled 2", sans-serif;
	font-size: 2em;
	letter-spacing: 2px;
}

.red {
	color: var(#f0f0f0);
}
.red h1 {
	color: var(#31bdf5);
}
.red h3 {
	color: var(#f000a0);
}

.blue {
	color: var(#f0f0f0);
}
.blue h1 {
	color: var(#f000a0);
}
.blue h3 {
	color: var(#31bdf5);
}

.menu {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 1em;
}

.board-item {
	width: auto;
	text-align: center;
	padding: 1em;
}
.board-item__title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.board-item__title h1 {
	font-family: "KG Tangled", sans-serif;
	font-size: 2.5em;
	margin: 0 10px;
}
.board-item__title img {
	width: 67px;
	height: 25px;
}

.menu-item {
	text-align: left;
	margin: 0.5%;
	display: grid;
	grid-template-columns: 1fr 10%;
	grid-auto-rows: auto;
	grid-column-gap: 10px;
	align-items: center;
}
.menu-item h3 {
	font-size: 1.5em;
	font-family: "Hesster Mofet_clean", sans-serif;
	grid-column: 1/2;
	grid-row: 1/2;
}
.menu-item p {
	font-size: 1.1em;
	letter-spacing: 1px;
	grid-column: 1/2;
	grid-row: 2/3;
}
.menu-item span {
	display: inline-block;
	grid-column: 2/3;
	grid-row: 1/3;
	font-size: 1.8em;
}

.menu-item-side {
	text-align: left;
	margin: 1em 0;
	display: grid;
	grid-template-columns: 1fr 10%;
	align-items: center;
}
.menu-item-side h3 {
	font-size: 1.3em;
	font-family: "Hesster Mofet_clean", sans-serif;
	grid-column: 1/2;
}
.menu-item-side span {
	display: inline-block;
	grid-column: 2/3;
	font-size: 1.6em;
}

.separator {
	text-align: center;
	margin: 2em 0;
}
.separator img {
	width: 180px;
	height: 15px;
}




  .world {
    /* position: absolute; */
    /* margin: auto; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20%;
    margin-left: 30%;
    bottom: 0;
    position: fixed;
    width: 620px;
    height: 400px;
    background-color:#adddb5;
    border-color:#b9b9b900;
    border-width:0px;
    transform: scale(1.1);
  }
  .bottomline {
    position: absolute;
    letter-spacing: 2px;
    font-family: "verdana";
    font-size: 14px;
    text-align: right;
    top: 410px;
    width: 620px;
    height: 40px;
    z-index:99;
    color: grey;
  }
  a {
    position: relative;
    letter-spacing: 2px;
    font-family: "verdana";
    font-size: 14px;
    text-align: center;
    color: black;
    text-decoration: none;
  }
  .room {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#adddb5;
    width: 620px;
    height: 400px;
    overflow:hidden;
  }
  .lantern span:after {
      content:"";
    position:absolute;
    top:-6px;
    left:10px;
    width:40px;
    height:6px;
    z-index:3;
    background-color:#808080;
    
  }
  .lantern span {
    content:"";
    position:absolute;
    top:30px;
    left:-10px;
    width:60px;
    height:65px;
    border-radius:10px;
    z-index:2;  
    background:radial-gradient(circle farthest-side at center center, rgb(253, 135, 63) 0%, rgb(235, 97, 54) 100%);
  }
  .lantern span:before {
    content:"";
    position:absolute;
    top:-40px;
    left:28px;
    width:3px;
    height:40px;
    background-color:#808080;
  }
  .lantern span a {
    color:#FFE8CA;
    font-size:40px;
    font-family:'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, sans-serif;
    top:10px;
    left:10px;
    opacity:0.9;
  }
  .lantern span:nth-child(1) {
    left:50px;
  }
  .lantern span:nth-child(2) {
    left:200px;
  }
  .lantern span:nth-child(3) {
    left:380px;
  }
  .lantern span:nth-child(4) {
    left:520px;
  }
  .windows span {
    content:"";
    position:absolute;
    left:0px;
    top:10px;
    width:180px;
    height:280px;
   background: 
     linear-gradient(to bottom, rgba(255, 248, 220, 1) 0%,
                                         rgba(255,255,255,0) 100%) 
  }
  .windows span:nth-child(1) {
    left:20px;
  }
  .windows span:nth-child(2) {
    left:220px;
  }
  .windows span:nth-child(3) {
    left:420px;
  }
  .panel span {
    content:"";
    position:absolute;
    width:620px;
    height:6px;
    background: #DEB887;
  }
  .panel span:nth-child(1) {
    top:50px;
  }
  .panel span:nth-child(2) {
    top:100px;
  }
  .panel span:nth-child(3) {
    top:150px;
  }
  .panel span:nth-child(4) {
    top:200px;
  }
  .panel span:nth-child(5) {
    left:75px;
    height:300px;
    width:6px;
  }
  .panel span:nth-child(6) {
    left:140px;
    height:300px;
    width:6px;
  }
  .panel span:nth-child(7) {
    left:275px;
    height:300px;
    width:6px;
  }
  .panel span:nth-child(8) {
    left:340px;
    height:300px;
    width:6px;
  }
  .panel span:nth-child(9) {
    left:475px;
    height:300px;
    width:6px;
  }
  .panel span:nth-child(10) {
    left:540px;
    height:300px;
    width:6px;
  }
  .table {
    position: absolute;
    top: 280px;
    left: -90px;
    width: 800px;
    height: 200px;
    background: linear-gradient(180deg, rgba(59,47,42,1) 0%, rgba(82,69,61,1) 4%, rgba(150,134,119,1) 19%);
  }
  .tabletop {
    position: absolute;
    top:380px;
    width: 800px;
    height: 30px;
    z-index:5;
    background-color: #87725E;
  }
  .cup span {
    position:absolute;
    top:340px;
    height:35px;
    width:30px;
    z-index:6;
    border-radius: 0 0 8px 8px;
    background-color:#D4D4D4;
  }
  .cup span:before {
    content:"";
    position:absolute;
    top:35px;
    left:5px;
    height:5px;
    width:20px;
    background-color:#ABABAB;
  }
  .cup span:after {
    content:"";
    position:absolute;
    top:5px;
    left:4px;
      width:4px;
    height:20px;
    border-radius:10px;
    background-color:white;
  }
  .cup span:nth-child(1){
    left:40px;
  }
  .cup span:nth-child(2){
    left:480px;
  }
  .cup span:nth-child(3){
    left:570px;
  }
  .belt {
    position: absolute;
    margin: auto;
    top: 280px;
    left: -90px;
    width: 800px;
    height: 10px;
    background-color:#696969;
  }
  .chopsticks {
    position:absolute;
    top:375px;
    left:360px;
    z-index:1;
         border-right: 170px solid #2C2C2C;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        height: 2px;
        width: 0px;
    transform: rotate(-0.5deg);
  }
  .chopsticks2 {
    position:absolute;
    top:320px;
    left:515px;
    z-index:1;
         border-left: 100px solid #2C2C2C;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        height: 2px;
        width: 0px;
    transform: rotate(95deg);
  }
  .chopsticks3 {
    position:absolute;
    top:320px;
    left:520px;
    z-index:1;
         border-left: 100px solid #2C2C2C;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        height: 2px;
        width: 0px;
    transform: rotate(100deg);
  }
  .wasabi {
    position:absolute;
    top:359px;
    left:280px;
    z-index:10;
    height:6px;
    width:25px;
    border-radius:20px 20px 0 0;
    background-color:#ABD54B;
    transform: skewX(-45deg);
  }
  .wasabi:before {
    content:"";
    position:absolute;
    top:-4px;
    left:4px;
    z-index:10;
    height:4px;
    width:12px;
    border-radius:20px 20px 0 0;
    background-color:#C3ED63;
  }
  .plate span {
    position:absolute;
          border-top: 10px solid #34495E;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 60px;
    top:365px;
    left:100px;
  }
  .plate span:after {
    content:"";
    position:absolute;
    height:8px;
    width:60px;
    background-color:#34495E;
  }
  .plate span:nth-child(2) {
    top:350px;
  }
  .plate span:nth-child(3) {
    left:180px;
    opacity:0.8;
  }
  .plate span:nth-child(4) {
    left:220px;
  }
  .plate span:nth-child(5) {
    left:20px;
    opacity:0.8;
  }
  .plate span:nth-child(6) {
    left:360px;
    opacity:0.8;
  }
  .plate span:nth-child(7) {
    top:335px;
    opacity:0.8;
  }
  .sushiplate .rice {
    position:absolute;
    top:-25px;
    left:10px;
    width:35px;
    height:15px;
    border-radius:5px;
    background-color:#EFEFEF;
    }
  .sushiplate .rice:before {
    content:"";
    position:absolute;
    top:0px;
    left:10px;
    width:35px;
    height:15px;
    border-radius:5px;
    background-color: #FFFFFF;
  }
  .rice2 {
    position:absolute;
    top:-32px;
    left:0px;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color:white;
    border-style:solid;
    border-color:#467C45;
  }
  .rice2:before {
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    width:12px;
    height:12px;
    border-radius:20px;
    background-color:#EB8843;
  }
  .rice3 {
    position:absolute;
    top:-32px;
    left:20px;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color:white;
    border-style:solid;
    border-color:#467C45;
  }
  .rice3:before {
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    width:12px;
    height:12px;
    border-radius:20px;
    background-color:#E15C00;
  }
  .rice4 {
    position:absolute;
    top:-32px;
    left:40px;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color:white;
    border-style:solid;
    border-color:#467C45;
  }
  .rice4:before {
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    width:12px;
    height:12px;
    border-radius:20px;
    background-color:#EAA44A;
  }
  .sushiplate .salmon {
    position:absolute;
    top:-30px;
    left:4px;
    width:48px;
    height:8px;
    border-radius:5px;
    background-color:#FFBD47;
    }
  .sushiplate .salmon:before {
    content:"";
    position:absolute;
    top:0px;
    left:10px;
    width:48px;
    height:8px;
    border-radius:5px;
    background-color:#FFA300;
  }
  .sushiplate .tuna {
    position:absolute;
    top:-30px;
    left:4px;
    width:48px;
    height:8px;
    border-radius:5px;
    background-color:#CE5F50;
    }
  .sushiplate .tuna:before {
    content:"";
    position:absolute;
    top:0px;
    left:10px;
    width:48px;
    height:8px;
    border-radius:5px;
    background-color:#EC7A6A;
  }
  .sushiplate .seaweed {
    position:absolute;
    top:-30px;
    left:29px;
    width:20px;
    height:20px;
    z-index:2;
    background-color:#91CC4F;
  }
  .sushiplate .seaweed3 {
    position:absolute;
    top:-30px;
    left:35px;
    width:8px;
    height:20px;
    z-index:2;
    background-color:#1B641A;
  }
  .sushiplate .roe {
    position:absolute;
    top:-30px;
    left:18px;
    width:30px;
    height:5px;
    border-radius:5px 5px 0 0;
    background-color:#FF7D0A;
    }
  .sushiplate .seaweed2 {
    position:absolute;
    top:-20px;
    left:10px;
    width:35px;
    height:10px;
    z-index:2;
    background-color:#1B641A;
  }
  .sushiplate .seaweed2:before{
    content:"";
    position:absolute;
    top:0px;
    left:10px;
    width:35px;
    height:10px;
    z-index:2;
    background-color:#91CC4F;
  }
  .sushiplate span {
    position:absolute;
          border-top: 10px solid #34495E;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 60px;
    top:-18px;
    animation: move 20s linear infinite;
  }
  
  .wasabi-pot:after {
    content:"";
    position:absolute;
    top:10px;
    left:-2px;
    height:25px;
    width:20px;
    border-radius: 0 0 8px 8px;
    background-color:#786F65;
  }
    
  .wasabi-pot {
    position:absolute;  
    top:-305px;
          border-bottom: 10px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        height: 0;
        width:15px;
    z-index:11;
  }
  .wasabi-pot:before {
    content:"";
    position:absolute;
    width:3px;
    height:25px;
    background-color:#DEDEDE;
    border-radius:20px;
    transform: rotate(30deg);
    top:-4px;
    left:14px;
  }
  .chopstick-pot {
    position:absolute;  
    top:315px;
    left:550px;
        height:60px;
        width:30px;
    background-color:#605850;
    z-index:2;
    border-radius: 0 0 10px 10px;
  }
  .chopstick-pot:after {
    content:"";
    position:absolute;
    top:60px;
    left:5px;
    height:5px;
    width:20px;
    background-color:#46403B;
  }
  
  .sushiplate span:after {
    content:"";
    position:absolute;
    height:8px;
    width:60px;
    background-color:#34495E;
    
  }
  .sushiplate span:nth-child(1) {
      animation-delay: -16s;
  }
  .sushiplate span:nth-child(2) {
      animation-delay: -12s;
  }
  .sushiplate span:nth-child(3) {
      animation-delay: -8s;
  }
  .sushiplate span:nth-child(4) {
      animation-delay: -4s;
  }
  .sushiplate span:nth-child(5) {
      animation-delay: 0s;
  }
  
  @keyframes move {
      from {
          left: -20%;
      }
  
      to {
          left: 100%;
      }
  
    }  