

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issues Form</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'wordleapp/lost.css' %}" />
  </head>
  <body>

    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form method="post" action="{% url 'issue_central' %}" class="login">
            {% csrf_token %}
            <div class="login__field">
              <!-- <i class="login__icon fas fa-user"></i> -->
              <label for="issue_name"></label>
              <input type="text" name="issue_name" required class="login__input" placeholder="Issue Name">
            </div>
            <div class="login__field">
              <!-- <i class="login__icon fas fa-lock"></i> -->
              <label for="issue_descr"></label>
              <input type="text" name="issue_descr" required class="login__input" placeholder="Issue Description">
            </div>
            <button class="button login__submit">
              <span class="button__text">Submit</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>				
          </form>
        </div>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>		
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>		
      </div>
    </div>
    </body>
</html>